/*for the height 100% to work*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#logo-container {
    font-size: 1.4em;
}

.parallax-container {
    height: 500px;
}

.full-screen {
    min-height: 100%;
}

nav {
    opacity: 1;
}

#hithere {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#arrow_down_1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards-container {
    column-break-inside: avoid;
}
.cards-container .card {
    display: inline-block;
    overflow: visible;
}

@media only screen and (max-width: 600px) {
    .cards-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 601px) {
    .cards-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 993px) {
    .cards-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
.text-center {
    text-align: center;
}
